doctype html
html 
    head
        include ./includes/head.jade

    body
        .page
            h1 Online заявка на сервисное обслуживание
            p Заполните заявку,  и наш менеджер свяжется с вами в ближайшее время



            .b-form 
                .b-form__row
                    .b-form__cell._head
                    .b-form__cell._item-6n
                .b-form__row
                    .b-form__cell._head
                    .b-form__cell._item-3n
                    .b-form__cell._item-3n
                    .b-form__cell._item-1n
                .b-form__row
                    .b-form__cell._head
                    .b-form__cell._item-7n
